#viewer_area {
    min-width: 95%;
    margin: 5px 5px 5px 5px;
}

.bibinfo {
    font-family: 'Courier New';
    line-height: 1.5em;
    margin: 10px 10px 10px 10px;
}
#viewport .pure-u-2-3 {
    min-height: 100%;
}

.jp-audio {
    display: table;
    margin: 0 auto;
}.jp-song-title {
    margin: 0px 10px 10px 40px;
    font-size: 18px;
}


