/*------------*/
/* base rules */
/*------------*/
body {
    background-color: Silver;
    /*font-size: .7em;*/
    font-size: 100.01%;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    /* to center content horizontally*/
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    color: Gray;
}

a:link,
a:visited,
a:active {
    color: Gray;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: lightgray;
}

a[disabled="true"],
a:hover[disabled="true"] {
    cursor:default;
    color: gray;
}

h1, h2, h3, h4, h5 {
    font-family: brandon-grotesque, "Helvetica neue", Arial, sans-serif;
    color: #797979;
}

#header h1 {
    font-size: 2em;
    text-align: center;
    line-height: 1.3em;
    letter-spacing: 1px;
    word-spacing: 0.25em;
    margin-top: 1em;
    margin-bottom: 0px;
}

fieldset {
    border: 0;
}    

/*--------------*/
/* layout rules */
/*--------------*/
#nav {
    /*border: 1px solid blue;*/
}

#content {
    /* element is affected by resize function */
    background-color: rgb(255, 255, 245);
    padding-bottom: 15px;
    /*border: 1px solid green;*/
} 

#footer {
    vertical-align: bottom;
    margin-left: 15px;
    /*border: 1px solid red;*/
}

#main {
}


/*--------------*/
/* module rules */
/*--------------*/

/*--------------*/
/*    menus     */
/*--------------*/

.rq-menu {
    background-color: rgb(255, 255, 245) !important;
    color: Gray;
    font-family: Garamond;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3em;
    text-align: right;
    vertical-align: top;
    /*border: 1px solid red;*/
    /*width: inherit;*/
}

.rq-menu ul {
    padding-right: 5px;    
}

.rq-menu li a {
    background-color: rgb(255, 255, 245);
    padding-top: 0px;
    text-decoration: none;
    color: #797979;
    padding-left: 5px;
    padding-right: 5px;
}

.rq-menu li img {
    background: url("../content/themes/images/tabseparator.gif") no-repeat;
    height: 30px;
    width: 3px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.rq-menu li a:hover,
.rq-menu li a:active,
.pure-menu li a:focus {
    background-color: rgb(255, 255, 245);
    color: Silver;
    outline-style: none;
}

.rq-menu .pure-menu-heading {
    display: inline;
}

/*--------------*/
/*    logos     */
/*--------------*/

.rq-logo {
    margin-bottom: 10px;
    /*margin-top: 10px;*/
    font-weight: bold;
    /*border: 1px solid red;*/
    /*width: inherit;*/
}

.rq-logo span,
.rq-logo h1,
.rq-logo h2 {
    font-family: Garamond;
    font-style: italic;
    color: #797979;
    line-height: 130%;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    /*border: 1px solid green;*/
    height: auto;
}

.rq-logo h1 {
    font-size: 32pt;
    padding-left: 15px;
}

.rq-logo h2 {
    font-size: 20pt;
}

/*--------------*/
/*   buttons    */
/*--------------*/

.rq-quick-button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #c22a09; 
}

/*--------------*/
/*     forms    */
/*--------------*/

/* copied from bootstrap*/

/*fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;

  line-height: normal;
}

input[type="file"] {
  display: block;
}

select[multiple],
select[size] {
  height: auto;
}

select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm {
  height: auto;
}

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-lg {
  height: 45px;
  line-height: 45px;
}

textarea.input-lg {
  height: auto;
}

.has-warning .help-block,
.has-warning .control-label {
  color: #c09853;
}

.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.has-warning .input-group-addon {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.has-success .help-block,
.has-success .control-label {
  color: #468847;
}

.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.form-control-static {
  padding-top: 7px;
  margin-bottom: 0;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}*/

/* modifications to bootstrap formats*/
/*
input,
select,
textarea {
    max-width: 280px;
}*/

/*--------------*/
/*    pop-ups   */
/*--------------*/

#simple-user-info {
  padding: 15px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  color: #00529B;
  position: fixed;
  top: 0;
  width: 100%;
  filter: alpha(opacity=95); /* IE */
  -moz-opacity: 0.95; /* Mozilla */
  opacity: 0.95; /* Opera */
}

#simple-user-info.error {
  background-color: darkred;
  color: white;
}

#simple-user-info.success {
  background-color: Lime;
}

/*--------------*/
/* result lists */
/*--------------*/

.category {
    font-family: Garamond;
    font-size: 14pt;
    font-style: italic;
    color: #a52a2a;
    line-height: 2em;
}

.itemlist {
    /*margin-top: 5px;
    margin-bottom: 10px;*/
    font-family: Georgia;
    font-size: 10pt;
}

.itemlist .comment {
     margin-top: 0.2em;
     margin-bottom: 0.5em;
}

.singleitem {
    line-height: 1.1em;
}

.display-label,
.singleitem .rq-fieldname {
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #005770;
    padding-right: 10px;
}

.display-field,
.singleitem .rq-fieldvalue {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: normal;
    color: black;
}

.singleitem .rq-castfielname,
.singleitem .rq-castfieldvalue {
    font-family: Arial;
    font-size: 8pt;
    letter-spacing: normal;
    color: #818100;
    padding-left: 15px;
}

.singleitem .rq-castfieldvalue {
    padding-left: 30px;
}

.singleitem .comment,
.itemlist .comment {
    font-family: Arial;
    font-size: 8pt;
    color: gray;
}

.rq-action-bar a {
    color: teal;
    font-size: 8pt;
}

.rq-action-bar a:hover {
    color: grey;
}

/*--------------*/
/* box displays */
/*--------------*/

.rq-textcontainer{
    margin: 15px;
}

.rq-formcontainer{
    margin: 30px;
}

.rq-diagnostics {
    color: darkred;
    font-size: 0.7em;
    display: none;
}

.rq-instructions {
    font-size: 1em;
    display: block;
    text-align: center;
    margin: 10px;
    color: black;
}

#footer .rq-instructions,
#copyright {
    font-size: 0.85em;
}

.rq-box {
    margin-left: 15px;
}

.rq-box h1 {
    font-size: 0.9em;
}

.rq-settings-panel {
    font-size: 0.95em;
}

.rq-settings-panel ul {
    /*border: 1px solid blue;*/
    padding-left: 15px;
    margin-top: 3px;
}

.rq-settings-panel li {
    /*border: 1px solid blue;*/
    margin-bottom: 5px;
}

.rq-settings-panel h3 {
    font-size: 1.2em;
    margin-bottom: 0px;
}

.rq-small-logon label {
    font-size: 0.9em;
}

.rq-small-logon > .disabled label,
.rq-small-logon input:disabled {
    opacity: 0.3;
}

.rq-small-logon input[type='submit'],
.rq-small-logon a {
    font-size: 8pt;
} 

.rq-banner {
    /*background-image: url("../images/banner4.png");*/
    background-size: 100%;
    min-height: 700px;
    margin-right: 15%;
    margin-left: 0px;
}

.rqbanner img {
    width: 1px;
    height: 100px;
}

/*------------------------------*/
/*        box displays          */
/* (affected by resize function */
/*------------------------------*/

.content-box { 
    background-color: rgb(255, 255, 245);
    /*background-color: beige;*/
    border-top: 1px solid silver;
    border-left: 40px solid rgba(155, 243, 195, 0.79);   
}

.rq-result-box {
    background-color: rgb(255, 255, 245) !important ;
    /*background-color: beige !important;*/
}

.rq-sidebar {
    font-size: 0.85em;
    overflow: auto;
}

.rq-right-sidebar {
    margin-left: 15px;
}

.rq-sidebar input[type="text"],
.rq-sidebar input[type="password"] {
    width: 80%;
    margin-bottom: 5px;
}

.rq-left-sidebar {
   margin-left: 15px;
   /*border: 1px solid blue;*/
}

.rq-classtree-sidebar {
    font-size: 0.85em;
    margin-left: 2px;
    overflow: auto;
}
 
/*-------------*/
/* state rules */
/*-------------*/

/* style for overlay element used by function ajaxLoader in module ( s.f. rqui-helpers.js) */
.rq-ajax-wait {
    background: url("../images/ajax-loader.gif") no-repeat center transparent;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: beige;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

/*-------------*/
/* theme rules */
/*-------------*/
