<script language="JavaScript">
    function prepareForXmlCall() {
        $("#xmlViewer").val("Posting...");
        var url = $("#xmlUrl").val();
        if (url.indexOf("?") < 0)
            url += "?";
        else
            url += "&";
        url += $("#xmlAdditionalQueryString").val();
        return url;
    }

    function renderXml(data) {
        var xml = window.ActiveXObject ? data.xml : (new XMLSerializer().serializeToString(data));
        $("#xmlViewer").val(xml);
    }

    $(document).ready(function () {
        var d = document.location.href.replace("rqkos/RQKosLD", "rqld/rqkos");
        $("#xmlUrl").val(d);
        $("#xmlPostUrl").text(d);

        $.ajax({
            beforeSend: function (req) {
                req.setRequestHeader("Accept", "application/rdf+xml");
            },
            url: d,
            type: "GET",
            data: null,
            dataType: "xml",
            contentType: "application/rdf+xml",
            success: function (data) {
                renderXml(data);
            },
            error: function (data) {
                var json = JSON.stringify(data);
                $("#xmlViewer").val(json);
            }
        });

        $("#saveXml").click(function () {
            var xml = $("#xmlViewer").val();
            var url = prepareForXmlCall();

            $.ajax({
                url: url,
                type: "POST",
                dataType: "xml",
                data: xml,
                contentType: "text/xml",
                processData: false,
                success: function (data) {
                    renderXml(data);
                }
            });
        });

        $("#deleteXml").click(function () {
            prepareForXmlCall();

            $.ajax({
                url: document.location.href,
                type: "DELETE",
                dataType: "xml",
                contentType: "text/xml",
                processData: false,
                success: function (data) {
                    renderXml(data);
                }
            });
        });
    });
</script>
<h4>RDF</h4>
<p> If the RiQuest Linked Data Service had been invoked with accepted content header "text/rdf" or "application/rdf+xml" the following response would have been returned:</p>
<textarea id="xmlViewer" name="code" class="javascript" cols="120" rows="10">

</textarea>
<br />
<!--
<p>XML received from: <input id="xmlUrl" type="text" value="" size="50" /></p>
Post to:
<span id="xmlPostUrl"></span>?<input type="text" id="xmlAdditionalQueryString" value="" size="10" />
<input id="saveXml" type="button" value="Post" />
<br />
<input id="deleteXml" type="button" value="Delete" />
-->