@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = RQResources.Views.Shared.SharedStrings.error;
}

<h2>
    @RQResources.Views.Shared.SharedStrings.errmessage
</h2>

<p>
    @Model.Exception.Message
</p>