<div id="footer">
    <div class="rq-instructions">
        <div class="rq-instructions">
            @Html.ActionLink(RQResources.Views.Shared.SharedStrings.link_home, "Index", "Home", new { area = "" }, null)<span class="accent">&nbsp;|&nbsp;</span>
            @Html.ActionLink(RQResources.Views.Shared.SharedStrings.link_terms, "Terms", "Home", new { area = "" }, null)<span class="accent">&nbsp;|&nbsp;</span>
            @Html.ActionLink(RQResources.Views.Shared.SharedStrings.link_privacy, "Privacy", "Home", new { area = "" }, null)
        </div>
        <span id="copyright" class="smallcomment">Copyright 2002-2014 by <a href="http://www.jbunzel.de/jb/">Jürgen Bunzel</a></span>
    </div>
</div>
