@{
    ViewBag.Title = "RiQuest | Home";
}

<h2>@ViewBag.Message</h2>
<p>
    You have requested the HTML-Service of the RiQuest personal digital library. This is the catalog-view to show a single RiQuest item.
</p>
<p>
        @using(Html.BeginForm("Index", "RQItems")){
            @Html.TextBox("queryString", ViewData["qryStr"])
            <input type="submit" value="Los!" />
        }
        View all the @Html.ActionLink("RQItems", "Index", "RQItems")
</p>
<h3>RQItem List</h3>
@Html.Partial("~/Views/RQItems/Shared/DisplViewer.cshtml")
