@{
    ViewBag.Title = "RiQuest | Home";
}

<h2>@ViewBag.Message</h2>
<p>
    You have requested the HTML-Service of the RiQuest personal digital library. This is the catalog-view to show a single RiQuest item.
</p>
<h3>RQItem Display</h3>
@Html.Partial("~/Views/RQItems/Shared/DisplViewer.cshtml")
