@{
    ViewBag.Title = "RiQuest | Home";
}

<h2>@ViewBag.Message</h2>
<p>
    You have requested the HTML-Service of the RiQuest personal digital library. This is the edit-view to edit a single RiQuest item.
</p>
<h3>Form to submit a RiQuest item</h3>
@Html.Partial("~/Views/RQItems/Shared/EditViewer.cshtml")
