@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<h3>RQItem List</h3>

@Html.Partial("Shared/XmlViewer")
@Html.Partial("Shared/JsonViewer")