@{
    ViewBag.Title = "RiQuest | Shelves";
}

<h2>@ViewBag.Message</h2>
<p>
    You have requested the HTML-Service of the RiQuest personal digital library. This is the shelves-view.
</p>

<h3>RQ Knowledge Organisation System (RQKos) / RQ Classification (RQC)</h3>

@Html.Partial("~/Views/RQKos/Shared/ShelvesViewer.cshtml")
@*@Html.Partial("~/Views/RQKos/Shared/XmlViewer.cshtml")
@Html.Partial("~/Views/RQKos/Shared/JsonViewer.cshtml")*@