<script src="@Url.Content("~/Scripts/HtmlFactoryScripts/search-box.js")" type="text/javascript"></script>
<form class="pure-form search-box">
    <input type="text" id="queryString" value="@ViewData["qryStr"]" />
    <button class="pure-button pure-button-primary rq-quick-button" type="submit">los!</button>
</form>
