<ul class="standard-searches">
    <li><a href="#" onclick="exportResultList();">@RQResources.Views.Shared.SharedStrings.sa_export</a></li>
    @if (@ViewBag.HasAddPermit)
    {
        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sa_add, "add", "rqitems");</li>
    }
</ul>